<GridLayout rows="auto, auto">
  <StackLayout row="0" #initialContainer>
    <Image src="~/components/Login/nodemyadmin_logo.png" stretch ="none" class="brand-logo"></Image>
  </StackLayout>
  <StackLayout row="1" #mainContainer class="main-container">
    <GridLayout #formContainer class="form-controls" rows="auto, auto">
      <TextField row="0"
        hint="Username"
        returnKeyType="next"></TextField>
      <TextField row="1"
        hint="Password"
        secure="true"
        returnKeyType="done"
        (returnPress)="onSignIn()"
        ></TextField>
    </GridLayout>

    <Button text="Sign In" class="btn btn-primary sign-in-action" (tap)="onSignIn()"></Button>

    <StackLayout class="nav">
      <Button text="About Us" [nsRouterLink]="['/about']"></Button>
    </StackLayout>
  </StackLayout>
</GridLayout>
