<Page>
 <TabView>
   <TabView.items>
     <TabViewItem title="Sign In">
       <TabViewItem.view>
         <StackLayout class="form">
           <StackLayout class="input-field">
             <Label class="label" text="Username"></Label>
             <TextField class="input"></TextField>
           </StackLayout>
           <StackLayout class="input-field">
             <Label class="label" text="Password"></Label>
             <TextField class="input"></TextField>
           </StackLayout>
           <StackLayout class="button-field">
             <Button class="signin">Sign In</Button>
           </StackLayout>
         </StackLayout>
       </TabViewItem.view>
     </TabViewItem>
     <TabViewItem title="Sign Up">
       <TabViewItem.view>
         <StackLayout class="form">
           <StackLayout class="input-field">
             <Label class="label" text="Email"></Label>
             <TextField class="input-email"></TextField>
           </StackLayout>
           <StackLayout class="input-field">
             <Label class="label" text="Username"></Label>
             <TextField class="input-username"></TextField>
           </StackLayout>
           <StackLayout class="input-field">
             <Label class="label" text="Password"></Label>
             <TextField class="input-password"></TextField>
           </StackLayout>
           <StackLayout class="button-field">
             <Button class="signin">Sign In</Button>
           </StackLayout>
         </StackLayout>
       </TabViewItem.view>
     </TabViewItem>
   </TabView.items>
 </TabView>
</Page>
